  <div>
	<% @users.each do |user|%>
		<%= user.first_name + ' ' + user.last_name %>

		<%=link_to 'View Tweets', user_path(user[:id]), class: "btn btn-large" %>

        <% if current_user.id != user.id %>
			<%=link_to 'Follow', following_user_path(user), class: "btn btn-large" %>
        <% end %>
        <br>
	<% end %>
</div>
<%=link_to 'Home', tweets_path, class: "btn btn-primary"  %>
